<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div class="full pb-10 bg-gradient-to-tl from-emerald-400 to-blue-100">
        <nav class="bg-violet-600 flex-row align-middle font-semibold text-white">
            <ul class="list-none  flex  ">
                <li class="mx-4 py-1 hover:b"><a href="/">Home</a></li>
                <li class="mx-4 py-1"><a href="/about">About</a></li>
                <li class="mx-4 py-1"><a href="/contact">Contact</a></li>
                <li class="mx-4 py-1"><a href="/form">Fill form here</a></li>

            </ul>
        </nav>

        <div class="container  mx-auto w-[50vw]">

            <div class="bg-gradient-to-r from-violet-800 to-red-600 text-transparent bg-clip-text">

                <h1 class="mx-auto mt-6 text-center align-middle text-4xl font-bold ">Hurry! Fill this form now</h1>

            </div>
            <!--This is a plain html in pug  pipe character is used to use if variable is not in between line like here in content -->
            <!-- | #{content} -->

            <form class="mx-auto  text-sm my-4" action="/" method="post" id="contact">
                <input class="mx-[5vw] outline-2 outline-blue-200  rounded-lg  my-1  border-2  p-1  w-[40VW] border-slate-600" type="text" name="name" id="name" placeholder="Enter your name" /><br>

                <input class="mx-[5vw] outline-blue rounded-lg  my-1  border-2  p-1   w-[40VW] border-slate-600 outline-2 outline-blue-200" type="text" name="age" id="age" placeholder="Enter your age" /><br>

                

                <select class="mx-[5vw] outline-2 outline-blue-200 rounded-lg  my-1  border-2  p-1   w-[40VW] border-slate-600"id="gender" name="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <br>

                <input class="mx-[5vw] outline-blue rounded-lg  my-1  border-2  p-1   w-[40VW] border-slate-600 outline-2 outline-blue-200" type="text" name="phone" id="phone" placeholder="Enter your Phone No." /><br>

                <input class="mx-[5vw] outline-blue rounded-lg  my-1  border-2  p-1   w-[40VW] border-slate-600 outline-2 outline-blue-200" type="text" name="email" id="email" placeholder="Enter your Email" /><br>

                <input class="mx-[5vw] outline-blue rounded-lg  my-1  border-2  p-1   w-[40VW] border-slate-600 outline-2 outline-blue-200" type="text" name="address" id="address" placeholder="Enter your Address" /><br>

                <textarea class="mx-[5vw] min-h-32 outline-blue rounded-lg  my-1  border-2  p-1   w-[40VW] border-slate-600 outline-2 outline-blue-200" type="text" name="more" id="more" placeholder="Describe yourself" rows="2" cols="20" name="usrtxt" wrap="hard">
               
                </textarea>


                <hr class=" mt-1 p-[0.5px] bg-gray-500">

                <div class="buttons mx-[2.0vw]">

                    
                    <button  onclick='alert("Details Submitted")' class=" border-2 bg-[#1db94b] text-white text-xl w-[20vw] font-medium font-mono p-1 mt-3  rounded-2xl border-slate-600 " class="btn">Submit</button>
                    
                    
                    
                    <button type="button "  class="border-2 bg-[#1c241e] text-white text-xl w-[25vw] font-medium font-mono p-1 mt-3  rounded-2xl border-slate-600"><a href="/">Return to home</a></button>
                    
                </div>
            </form>
        </div>
    </div>
</body>

</html>