<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload PDF</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body class="bg-violet-500">
    <h1 class="mx-auto bg-slate-500">PDF Merger</h1>
    <form id="pdfForm" enctype="multipart/form-data">
        <input type="file" name="input1" accept=".pdf">
        <button type="submit">Upload</button>
    </form>

    <form id="pdfForm" enctype="multipart/form-data">
        <input type="file" name="input2" accept=".pdf">
        <button type="submit">Upload</button>
    </form>
</body>
</html>
