<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
<body>
    <header>
        <nav>
            <li class="li"><a href = "/">Home </a></li>
                <li class="li"><a href = "/form">Form</a></li>
                <li class="li"><a href = "/gallery">Gallery</a></li>
                <li class="li"><a href = "/contact">Contact</a></li>
                <li class="li"><a href = "/services">Services</a></li>



            </ul>
        </nav>
    </header>
    <div class="top">
        |WELCOME TO BUSQUERY
    </div>
    <div class="bg">

        <div class="opaque">
            <div class="head">
                <div class="logo">
                    <img src="../static/logo_top_eng.jpg" alt="" width="100px">
                </div>
                <div class="headtitle">
                    |BOOK A SEAT 
                </div>
                     
                <div class="GT">
                    <img src="../static/G20_Logo.png" alt="" width="100px" >
                </div>
        </div>
        
       
    </div>
    <div class="outer">
           

                <form action="submit_ticket.php" method="POST" class="ticket-form">
                    <div class="grid-container">
                        <input type="text" id="from_station" name="from_station" placeholder="&#128652; From Station" required>
                        <input type="text" id="to_station" name="to_station" placeholder="&#128653; To Station" required>
                        <input type="date" id="date_of_journey" name="date_of_journey" placeholder="&#128197; Date of Journey" required>
                        <input type="text" id="passenger_name" name="passenger_name" placeholder="&#128100; Passenger Name" required>
                        <input type="number" id="passenger_age" name="passenger_age" placeholder="&#127880; Age" required>
                        <select id="passenger_gender" name="passenger_gender" required>
                            <option value="" disabled selected>&#9794; Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <button type="submit" class="book-ticket-button">Book Ticket</button>
                </form>
            
            
    </div>
</body>
</html>