<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style 
        include ../static/style.css
</head>
<body>
    <header>
        <nav>
            <ul class="bg-violet-500">
                <li class="li"><a href = "/">Home </a></li>
                <li class="li"><a href = "/form">Form</a></li>
                <li class="li"><a href = "/gallery">Gallery</a></li>
                <li class="li"><a href = "/contact">Contact</a></li>
                <li class="li"><a href = "/services">Services</a></li>


            </ul>
        </nav>
    </header>
    <div>Gallery</div>
</body>
</html>