doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet', href='../static/style.css')
  body
    header
      nav
        ul.inline.bg-violet-500
          li.li.inline
            a(href='/') Home
          li.li.inline
            a(href='/about') About
          li.li.inline
            a(href='/gallery') Gallery
          li.li.inline
            a(href='/contact') Contact
          li.li.inline
            a(href='/services') Services
    .top
      | WELCOME TO BUSQUERY
    .bg
      .opaque
        .head
          .logo
            img(src='../static/logo_top_eng.jpg', alt='', width='100px')
          .headtitle
            | BOOK A SEAT
          .GT
            img(src='../static/G20_Logo.png', alt='', width='100px')
    .outer
      form.ticket-form(action='submit_ticket.php', method='POST')
        .grid-container
          input(type='text', id='from_station', name='from_station', placeholder=' From Station', required)
          input(type='text', id='to_station', name='to_station', placeholder=' To Station', required)
          input(type='date', id='date_of_journey', name='date_of_journey', placeholder='&#128197; Date of Journey', required)
          input(type='text', id='passenger_name', name='passenger_name', placeholder='Passenger Name', required)
          input(type='number', id='passenger_age', name='passenger_age', placeholder='📅 Age', required)
          select(id='passenger_gender', name='passenger_gender', required)
            option(value='', disabled, selected) &#9794; Select Gender
            option(value='Male') Male
            option(value='Female') Female
            option(value='Other') Other
        button.book-ticket-button(type='submit') Book Ticket
