
body{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    display: inline;
}
li{
    display: inline;
    font-size: x-large;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

nav{
    background-color: blueviolet;
    font-weight: 500;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
    font-weight: 500;
    width:100vw;

}

.bg{
    background-image: url("banner_banner50vw.png");
    width: 100%;
    background-repeat: repeat-y;
    min-height: 86vh;
    position: fixed;
    background-size: cover;

   
 }

.top{
    text-align: center;
    height:7vh;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,violet,rgb(109, 109, 204));
    font-size: xx-large;
    font-family: sans-serif,Verdana, Geneva;
    font-weight: 600;
    color: white;
   
    width:100vw;
    padding-top: 10px; ;
}

.outer{
    padding: 8px;
    position: relative;
 
   
    width: 35vw;
    border-left: 5px double black ;
    border-right: 5px double black ;
    border-bottom: 5px double black ;
    margin-left: 4vw;
  
    height: 60vh;

    
}

.head{
    font-size: 50px;
    align-items: center;
    opacity: 1;
    text-align: center;
    display: flex;
    color: blue;
    flex-direction: right;
    
}

.GT{
    display: inline-block;
    
    opacity: 1;
    align-items: center;
    margin-right: 0;
    justify-content: center;

}

.logo{
    display: inline-block;
    align-items: right;
    display: flex;
    opacity: 1;
    



}

.headtitle{
    
    margin-left: 13.7%;
    margin-right: 13.7%;
    font-size: xx-large;
}

.opaque{
    padding: 8px;
    position: relative;
    margin-left: 4vw;

    
    width: 35vw;
    border-left: 5px double black;
    border-right: 5px double black ;
    border-top: 5px double black ;
    color: antiquewhite;
    margin-top:5vh ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: fit-content;
    

}

.outer {
    font-family: Arial, sans-serif;
   
    
}

.ticket-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

input, select {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: #0056b3 solid 2px;
}

input:focus {
    border: 2px solid blue; /* Change the border color to blue when the input is clicked */
  }


.book-ticket-button {
    width: 70%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.book-ticket-button:hover {
    background-color: #0056b3;
}
