
body{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    display: inline;
}
li{
    display: inline;
    font-size: x-large;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

nav{
    background-color: blueviolet;
    font-weight: 500;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
    font-weight: 500;
    width:100vw;

}

.bg{
    background-image: url("banner_banner2.png");
    width: 100vw;
    background-repeat: repeat-y;
    min-height: 86vh;
    position: fixed;
   
 }

.top{
    text-align: center;
    height:7vh;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,violet,rgb(109, 109, 204));
    font-size: xx-large;
    font-family:  Tahoma, sans-serif,Verdana, Geneva;
    font-weight: 700;
    color: rgb(221, 255, 221);
    width:100vw;
}

.outer{
    padding: 8px;
    background-color: rgb(205, 221, 237);
    position: relative;
    margin-top:6vh ;
    margin-bottom: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
    border: 5px double slateblue ;
    opacity: 0.6;
    height: 70vh;

    
}